*{
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
   font-family: "Bank Gothic", Geometric;
   background-color: #fff;
}

p {
    margin: 0.5em 0 0.5em 0;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color: #202e48;
    padding: 10px;
}

nav a:visited,
nav a:link {
    color: red;
    text-decoration: none;
}

nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

main {
    display: block;
    /*background-image: url("images/background.jfif");*/
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer {
    padding: 15px;
    background-color: green;
    text-align: center;
    color: white;
    width: 100%;
}

aside,
article {
    padding: 2em;
}

aside {
    text-align: center;
}

article {
    width: 75%;
}

.columns {
    display: flex;
}
/*to make it responsive*/
@media only screen and (min-width: 768px) {

    main {
        display: flex;
    }

    aside {
        margin-left: 2%;
    }

    .columns-desktop {
        display: flex;
    }
}

/* tours page style*/

.tours {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: solid 1px #ccc;
}

.tours img {
   width: 100%; 
}

.tours .title {
    font-weight: bold;
}

.tours .columns {
    width: 100%
}

.tours .price {
    text-align: right;
}

.tours .columns div {
    width: 50%;
}

/*buttons*/
.tours button 
{
    background-color: #cf2b04;
    padding: 10px;
    border: solid 1px #cf2b04;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.indexButton 
{
    background-color: orange;
    padding: 10px;
    border: solid 1px #cf2b04;
    border-radius: 3px;
    color: #fff;
    clear: both;
    cursor: pointer;
}
