*{
    margin: 0;
 }

html,
body 
{
    height: 100%;
}

body 
{
   font-family: cursive;
   background-color: #fff;
   
}

.about 
{
    margin: 0.5em 0 0.5em 0;
    text-align: center;
    color: red;
}


header 
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color: #202e48;
    padding: 10px;
}

nav a:visited,
nav a:link 
{
    color: #D6AC56;
    text-decoration: none;
}

nav > ul 
{
    display: inline;
    padding: 0;
}

nav > ul > li 
{
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

main 
{
    display: block;
    background-image: url("images/ireland.jpg");
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer 
{
    padding: 15px;
    background-color: #024753;
    text-align: center;
    color: rgb(116, 114, 7);
    width: 100%;
}

aside,
article 
{
    padding: 2em;
}

aside 
{
    text-align: center;
}

article 
{
    width: 75%;
}

.columns 
{
    display: flex;
    width: 100%;
}

@media only screen and (min-width: 768px) 
{

    main 
    {
        display: flex;
    }

    aside 
    {
        margin-left: 2%;
    }

    .columns-desktop 
    {
        display: flex;
    }
}

/* tours */

.tours 
{
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: solid 1px #ccc;
}

.tours img 
{
   width: 100%; 
}

.tours .title 
{
    font-weight: bold;
}

.tours .columns 
{
    width: 100%
}

.tours .columns div 
{
    width: 75%;
}

/*button*/

.indexButton 
{
    background-color: #150070;
    padding: 30px;
    border: solid 1px #cf2b04;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    clear: both;
    cursor: pointer;
}
